/*================ S reset ================*/
html, body {
    overflow-x: hidden;
    height: 100%;
    background-color: #f0f0f0;
}
.bg-body{
    background: url(../img/bg-body.jpg) center/cover no-repeat;
}

img {
    max-width: 100%;
}

a {
    color: #000;
}

/*================ E reset ================*/
.f-vam {
    vertical-align: middle;
}
.f-clearfix:after{
    content: '.';
    display: block;
    clear: both;
    height:0;
    visibility: hidden;
    overflow: hidden;
}
.f-clearfix{
    zoom: 1;
}
.f-ovh{
    overflow: hidden;
}
.f-tov{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.c1{
    color: #84ccc9;
}

/*================ S plugins ================*/

/*================ E plugins ================*/

/*================ S module ================*/
.m-map{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:55px;
}

.m-banner {
    height: 180px;
}

.m-banner .swiper-pagination-bullet-active {
    background: #fff;
}

.m-title{
    position: fixed;
    z-index:10;
    top: 0;
    left:0;
    right:0;
    height:44px;
    line-height:44px;
    text-align: center;
    color: #fff;
    background-color: #999;
    font-weight: normal;
    font-size:20px;
}
.m-title-h{
    height:44px;
}

.m-nav {
    background-color: #fff;
}
.m-nav .weui_grid{
    display: table;
}
.m-nav .pd{
    display: table-cell;
    /*width:100%;*/
    height: 80px;
    vertical-align: middle;
}

.m-article .top {
    margin-bottom: 20px;
}

.m-article .top h1 {
    margin-bottom: 0;
    color: #000;
    font-size: 22px;
}

.m-article .top .meta {
    font-size: 12px;
    color: #777;
}

.m-article .top .meta span {
    margin-right: 5px;
}

.m-article .top .meta a {
    color: #61749B;
}

.m-article .ft {
    padding-top: 10px;
    border-top: 1px solid #ddd;
}


.navBox{
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.m-nav2 {
    position: absolute;
    bottom: 120px;
    left: -55px;
    margin-left: -10px;
    margin-top: -10px;
    width:270px;
    list-style: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}
.m-nav2 li {
    float: left;
    width:80px;
    height:80px;
    margin-left:10px;
    margin-top:10px;
    background-color: rgba(255,255,255,.3);
}
.m-nav2 li.none{
    background-color: transparent;
}
.m-nav2 li a{
    box-sizing: border-box;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
    width:80px;
    height:80px;
    padding: 10px;
    text-align: center;
    font-size:14px;
    color: #fff;
}
.m-nav2 li a img{
    width:30px;
    height:30px;
}
.m-nav2 li a p{}
.m-nav2 li.bg{
    background-color: #739574;
}

/*================ E module ================*/

.weui_tabbar_item.weui_bar_item_on .iconfont,
.weui_tabbar_item.weui_bar_item_on .weui_tabbar_label{
    color: #84ccc9;
}
